{% layout "layout.liquid" %}
{% block content %}
<body class="body">
    <div class="info-container">

        <a><div class="meme-container"><img class="img" src="{{memes.image}}"></a>
            <p class="topText">{{memes.topText}}</p>
            <p class="bottomText">{{memes.bottomText}}</p>
        </div>
        {% if memes.owner == userId %}
            <form cstyle="display: inline" action="/memes/mine/{{memes.id}}/edit" method="get">
                <button id="meme-input-submit-edit" >Edit</button>
            </form>
            <form class="meme-input-submits" action="/memes/mine/{{memes.id}}/delete?_method=DELETE" method="POST">
                <input id="meme-input-submit-delete" type="submit" value="Delete">
            </form>
            {% endif %}

            <form class="meme-comment-form" action="/comments/{{memes.id}}" method="POST">
            <fieldset>
                <input id="meme-input-comment" type="text"  name="note" placeholder="enter comment here...">
            </fieldset>
                <input id="meme-input-submit-comment" type="submit" class="btn btn-success" value="Add Comment">
            </form>
        {% if memes.comments.length > 0%}
            <div class="container-sm justify-content-center">
                <div class="col-md-8 col-lg-6">
                     {% for comment in memes.comments %}
                        {% render '../comment.liquid', comment: comment, username: username, memes: memes %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    <div>
</body>
{% endblock %}
<!--
<a class="meme-input-submits" href="/memes/mine/{{memes.id}}/edit"><button class="meme-input-submits">Edit</button></a>