{% layout "layout.liquid" %}
{% block content %}

    <h1>Welcome! Click view memes to see a list of memes!</h1>
    <form action="/memes/search" method="POST">
        <input type="number" name="page" placeholder="Enter Page Number">
        <input type="submit" value="Search">
    </form>
    
        {% for meme in memeData.data %}
             {% if meme.bottomText != null and meme.topText != null %}
                {% if meme.bottomText != '' or meme.topText != ''%}  
                     <div>
                         {{meme.bottomText}}
                        <img src="{{meme.image}}">
                        {{meme.topText}}
                        <form action="/memes/viewAll" method="POST">
                            <input type="hidden" name="bottomText" value={{meme.bottomText}}>
                            <input type="hidden" name="name" value={{meme.name}}>
                            <input type="hidden" name="ID" value={{meme.ID}}>
                            <input type="hidden" name="topText" value={{meme.topText}}>
                            <input type="hidden" name="image" value={{meme.image}}>
                            <input type="hidden" name="rank" value={{meme.rank}}>
                            <input type="hidden" name="tags" value={{meme.tags}}>
                            <input type="submit" value="like">
                        </form>
                    </div>    
                {% endif %}
             {% endif %}
             
        {% endfor %}
{% endblock %}