{% block content %} 
<div class="comment-container">
  <!-- {% if username == username %}-->
        <small class="date">{{comment.date}}</small></br>
        <small class="author"> {{comment.author.username}} says:</small>
        {% if comment.author == userId %}
        <form class="delete-comment" action="/comments/{{ memes.id }}/{{comment.id}}?_method=PUT" method="POST">
            <input class="delete-comment" type="submit" value="X">
        </form>
        {% endif %}
        <p class="comment">{{ comment.note }}</p>
    <!-- {% endif %} -->
</div>
{% endblock %}