{% layout 'layout.liquid' %}
{% block content %}
<body class="body">
    <div class="info-container-flex">
        {% if memes.owner == userId %}
            <div class="edit-delete">
                <form action="/memes/mine/{{memes.id}}/edit" method="get">
                    <button class="button">Edit</button>
                </form>
                <form  action="/memes/mine/{{memes.id}}/delete?_method=DELETE" method="POST">
                    <input type="submit" class="button" value="Delete">
                </form>
            </div>
        {% endif %}
             <div class="meme-container-show">
                <img class="img" src="{{memes.image}}">
                <p class="topText">{{memes.topText}}</p>
                <p class="bottomText">{{memes.bottomText}}</p>
            </div>
            <form class="form-all" action="/comments/{{memes.id}}" method="POST">
                <fieldset>
                    <textarea class="meme-input meme-comment-input" name="note" placeholder="enter comment here..." rows="5" col="20"></textarea>
                </fieldset>
                    <input type="submit" class="button" value="Post">
            </form>
        {% if memes.comments.length > 0%}
            <div class="comments-container">
                {% for comment in memes.comments %}
                    {% render '../comment.liquid', username: username, loggedIn: loggedIn, userId: userId, comment: comment, memes: memes %}
                {% endfor %}
            </div>
        {% endif %}
    <div>
</body>
{% endblock %}